.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.34rem;
  z-index: 10;
  background-color: #fff;
  font-size: 0.28125rem;
  border-top: 1px solid #dcdcdc;
  overflow: hidden;
}
.nav-bar a {
  float: left;
  position: relative;
  width: 25%;
  color: #000;
}
.nav-bar a i {
  width: 0.5625rem;
  height: 0.5625rem;
  position: absolute;
  left: 50%;
  top: 0.25625rem;
  margin-left: -0.28125rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.nav-bar .icon-main {
  background-image: url("../images/pages/051.png");
}
.nav-bar .active .icon-main {
  background-image: url("../images/pages/051_red.png");
  background-size: 5.625rem 0.5625rem;
}
.nav-bar .icon-types-02 {
  background-image: url("../images/pages/goods-shelves.png");
}
.nav-bar .icon-mine {
  background-image: url("../images/pages/049.png");
}
.nav-bar .icon-shop {
  background-image: url("../images/pages/003.png");
}
.nav-bar .atips {
  display: block;
  width: 100%;
  text-align: center;
  color: #7e7676;
  line-height: 0;
  margin-top: 1.12rem;
  font-size: 0.3125rem;
}
