

.sort-nav {
  margin-bottom: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 0.01rem solid #d3d3d3;
}

.sort-nav li {
    float:left;
    height: 1.171875rem;
    color: #1f282e;
    text-align: center;
    line-height: 1.171875rem;
    overflow: hidden;
}

.sort-nav li:nth-of-type(1){
    width: 33%;
}
.sort-nav li:nth-of-type(2){
    width: 19%;
    color: #e21742;
}

.sort-nav li:nth-of-type(3){
    width: 22%;
    color: #e21742;
}
.sort-nav li:nth-of-type(4){
    width: 26%;
}
.sort-nav li a {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #929697;
    display: block;
    font-size: 0.34375rem;
    pointer-events: none;
}

.sort-nav li a i {
    display: inline-block;
    width: 0.25rem;
    height: 0.28125rem;
    margin-left: 0.15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

.icon-arrow-up {
    background-image: url(../../assets/images/pages/014.png);
}

.icon-arrow-down {
    background-image: url(../../assets/images/pages/015.png);
}

.icon-arrow {
    background-image: url(../../assets/images/pages/016.png);
}