
@import '../../asset/base.css';
@import '../../asset/spinner.css';

.charity-tit {
    background-color: #fff;
    padding: 0.4rem 0;
    text-align: center;
    font-size: 0.5rem;
    font-weight: normal;
}
.charity-tit em {
    color: #ef3353;
}
 